.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #2e2f42;
}
.logo-blue {
  color: #4d5ae5;
}

.header-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2e2f42;
}

.header-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}

.body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
  background: #e5e5e5;
}

.hero {
  background: #2e2f42;
}

.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  color: #ffffff;
}
.hero-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #4d5ae5;
}

.portfolio .button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4d5ae5;
  background-color: #e7e9fc;
}

.portfolio .button:hover,
.portfolio .button:active {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #404bbf;
}

.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
}

.logo-footer {
  color: #f4f4fd;
}

a {
  text-decoration: none;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #2e2f42;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2e2f42;
}
