:root {
  --logo-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-blue-color: #2e2f42;
  --text-color: #434455;
  --close-to-white-color: #f4f4fd;
  --white-color: #ffffff;
}

/*PAGE 1*/
body {
  width: 1440px;
  height: 2592px;

  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
}

/*header*/

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.logo-span {
  color: var(--dark-blue-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.header-nav {
  display: flex;
  width: 1440px;
  height: 72px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-blue-color);
}

.header-nav:hover,
.header-nav:focus {
  color: var(--pressed-state-color);
}

.adress-style {
  font-style: normal;
}

.header-adress {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-adress:hover,
.header-adress:focus {
  color: var(--pressed-state-color);
}

/*main*/

.hero {
  width: 1440px;
  height: 600px;

  display: flex;
  width: 496px;
  flex-direction: column;
  flex-shrink: 0;

  background-color: var(--dark-blue-color);
}

.hero-title {
  padding: 188 472 292 472;
  margin-bottom: 48;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.hero-button {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--logo-color);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}

.invisible-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-blue-color);
}

.advantages-title {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-blue-color);
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.image-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-blue-color);
}

.image-layout {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.team {
  background-color: var(--close-to-white-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-blue-color);
}

.team-images {
  display: inline-flex;
  padding: 0px 0px 32px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
}

.team-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-blue-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.team-list-color {
  background-color: var(--white-color);
}

/*footer*/

.footer {
  background-color: var(--dark-blue-color);
}

.footer-span {
  color: var(--close-to-white-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--close-to-white-color);
}

/*PAGE 2*/

.portfolio .button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  background-color: var(--close-to-white-color);
  cursor: pointer;
}

.portfolio .button:hover,
.portfolio .button:focus {
  color: var(--white-color);
  background-color: var(--pressed-state-color);
}

.projects-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-blue-color);
}

.projects-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
